{% extends 'base.html' %}
{% block title %} Kirish {% endblock title %}

{% block content %}

    <div class="container">
      <div class="row">
        <div class="col-10">
          <div class="col-10">
            <h3> Ro`yxatdan o`tish</h3>
            <form method="POST">
              {% csrf_token %}
              {{form.as_p }}
              <button type="sumbit" class="btn btn-success" >Kirish</button>
              <span> Accountingiz yo`qmi?  <a href="{% url 'royxatdan_otish' %}">Ro`yxatdan o`tish </a></span>
            </form>
          </div>
          <div class="col-10"></div>
        </div>
      </div>
    </div>



{% endblock content %}
