{% extends 'base.html' %}
{% block title %}  Ro`yxatdan  o`tish {% endblock title %}

{% block content %}

    <div class="container">
      <div class="row">
        <div class="col-10">
          <div class="col-10">
            <h3> Ro`yxatdan o`tish</h3>
            <form method="POST">
              {% csrf_token %}
              {{form.as_p }}
              <button type="sumbit" class="btn btn-success" >Yuborish</button>
             <span> Accountingiz bormi?  <a href="{% url 'login' %}"> Tizimga kirish </a></span>
            </form>
          </div>
          <div class="col-10"></div>
        </div>
      </div>
    </div>



{% endblock content %}