{% extends 'base.html' %}
{% load static %}
{% block title %} Batafsil {% endblock title%}

{% block content %}
        
        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">News</a></li>
                    <li class="breadcrumb-item active">News details</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        
        <!-- Single News Start-->
        <div class="single-news">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="sn-img">

                            <img src="{{new.image.url}}" />
                        </div>
                        <div class="sn-content">
                            <a class="sn-title" href="">{{ new.title }}</a>
                            <a class="sn-date" href=""><i class="far fa-clock"></i>{{ new.publish_time }}</a>
                            <p>
                                {{new.body|safe}}
                            </p>

                        </div>
                        <div class="comment-section">
                            <h4>Foydalanuvchilar izohlar</h4>
                            <div class="comments-list">
                                {% for comment in comments %}
                                    <div class="comment">
                                        <strong>{{comment.user}}</strong>
                                        <span class="text-meted">{{comment.created_at}}</span>
                                         <p>
                                        {{comment.comment }}
                                        </p>
                                </div>
                                <hr>
                                {% empty %}
                                <p>Izohlar hozircha mavjud emas </p>
                                {% endfor %}
                            </div>

                            <div class="comment-form mt-4">
                        <h4 class="text-center">Izoh qoldirish</h4>
                        <form method="POST" action="{% url 'batafsil' new.slug %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <textarea name="comment" class="form-control" rows="4" placeholder="Izoh qoldirish" required></textarea>
                                <button type="submit" class="btn btn-primary">Yuborish</button>
                            </div>
                        </form>
                    </div>
                        </div>
                        <h4 class="mb-4">Foydalanuvchilar izohi</h4>


                    </div>



                </div>
            </div>
        </div>
        <!-- Single News End-->
{% endblock content %}
        
